
@font-face {
  font-family: 'Geometria';
  font-style: normal;
  font-weight: normal;
  src:
    url('../../public/fonts/Geometria-Bold.eot') format('woff2'),
    url('../../public/fonts/Geometria-Bold.ttf') format('woff');
}


.button {
  font-family: Geometria;
  background-color: orange;
  color: white;
}